@import url("reset.css");
@import url("components/title.css");
@import url("components/button.css");

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  color: #fff;
}

.wrapper {
  min-height: 100%;

  display: flex;
  flex-direction: column;

  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}
.container {
  max-width: 135rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

/* HEADER */

.header {
  background-color: #1f2235;
}
.header-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 0rem 16.8rem 0rem;
}
.header__nav {
}
.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.7rem;
}
.header__nav-item {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 93.75%; /* 15/16 */
  cursor: pointer;
}

.header__nav-item:hover,
.header__nav-item:focus {
  color: #fe461c;
}

/* HERO */

.hero-section {
  /* max-width: 1920px; */
  background-color: #1f2235;
}
.hero {
  display: flex;
  padding: 0rem 4.7rem 2.4rem 4.7rem;
  margin: 0 auto;
  align-items: center;
  position: relative;
}
.hero__social-links {
  display: flex;
  flex-direction: column;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background-color: #24263b;
  border-radius: 4px;
  cursor: pointer;
}
.social-link:not(:last-child) {
  margin-bottom: 1.5rem;
}

.social-link__icon-in {
  width: 2.2rem;
  height: 2.3rem;
}
.social-link__icon {
  width: 2rem;
  height: 1.5rem;
}

.hero__small-circle {
  position: absolute;
  top: 0;
  left: 14.9rem;
  max-width: 20.4rem;
  width: 100%;
  height: auto;

  img {
    width: 100%;
  }
}
.hero__content {
  margin-left: 20.3rem;
}
@media (max-width: 1800px) {
  .hero__content {
    margin-left: 14rem;
  }
}
@media (max-width: 1700px) {
  .hero__content {
    margin-left: 9rem;
  }
}

@media (max-width: 1630px) {
  .hero__content {
    margin-left: 5rem;
  }
}

@media (max-width: 480px) {
  .hero__content {
    margin-left: 2rem;
  }
}

.hero__welcome-text {
  font-family: "Public Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 125%; /* 20/16 */
  letter-spacing: 2px;
  margin-bottom: 1.6rem;
}
@media (max-width: 1630px) {
  .hero__welcome-text {
    letter-spacing: 0px;
    font-size: 1.1rem;
  }
}
.hero__title {
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 112.5%; /* 72/64 */
  margin-bottom: 3.1rem;
}
.hero__profession {
  color: #fe461c;
}
.hero__description {
  font-family: "Public Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 187.5%; /* 30/16 */
  margin-bottom: 3.6rem;
}
.hero__content-btn {
  display: flex;
  gap: 2.3rem;
}
.hero__big-circle {
  display: flex;
  position: relative;
  max-width: 78.3rem;
  width: 100%;
  height: auto;
  justify-content: center;
}
.big-circle {
  max-width: 63.4rem;
  width: 100%;
  height: auto;
}
.hero__skill-icon {
  max-width: 10%;
  position: absolute;
}
.figma-icon {
  top: 3.7%;
  left: 4.7%;
}
.xd-icon {
  bottom: 21%;
  left: 0%;
}

.ps-icon {
  top: 4%;
  right: 0%;
}

.sketch-icon {
  bottom: 21%;
  right: 0%;
}

/* SECTION ABOUT ME */

.section-about-me {
  background-color: #24263b;
  padding-top: 16.3rem;
}

.about-me {
  display: flex;
  height: 63.7rem;
  padding-bottom: 3.3rem;
}
.about-me__img {
  display: flex;
  align-self: flex-end;
  max-width: 60rem;
  margin-right: 5.9rem;

  img {
    width: 100%;
  }
}
.about-me__info {
  align-self: flex-start;
  max-width: 53.5rem;
}
.about-me__info-box {
}
.about-me__label {
  display: inline-block;
  margin-bottom: 1.9rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 75%; /* 12/16 */
  letter-spacing: 2px;
  padding: 1.2rem 1.4rem;
  background-color: #24263b;
  border-radius: 4px;
  box-shadow: 0 0 24px 0 rgba(15, 16, 24, 0.42);
}
.about-me__name {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 133.333333%; /* 48/36 */
  margin-bottom: 1.5rem;
}
.about-me__description {
  font-family: "Public Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 162.5%; /* 26/16 */
  margin-bottom: 2rem;
}
.about-me__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5.5rem;
  margin-bottom: 3.8rem;
}
.about-me__details-column {
}
.about-me__details-list {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-size: 1.6rem;
}
.about-me__details-item {
  display: grid;
  grid-template-columns: 5rem 1rem 5rem;
  gap: 3.3rem;

  font-weight: 500;
  line-height: 162.5%; /* 26/16 */
}

.colon {
  text-align: center;
}
.about-me__details-item span,
.about-me__details-item a {
  justify-self: start;
  white-space: nowrap;
}

.about-me__details-value {
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  line-height: 162.5%; /* 26/16 */
}
.about-me__details-link {
}

/* SECTION PORTFOLIO */

.section-portfolio {
  background-color: #1f2235;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12rem;
  padding-bottom: 11.9rem;
}
.portfolio__title {
  margin-bottom: 5.4rem;
  gap: 1.7rem;
}
.portfolio__categories {
  margin-bottom: 3.6rem;
  /* max-width: 476px; */
}
.portfolio__categories-list {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
.portfolio__categories-item {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.portfolio__gallery {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(260px, auto);
  gap: 2.4rem;
}
.portfolio__gallery-item {
}
.item-1 {
  grid-row: span 1;
  height: 260px;
}
.item-2 {
  position: relative;
  grid-row: span 2;
  height: 544px;
}
.item-3 {
  grid-row: span 1;
  height: 260px;
}
.item-4 {
  grid-row: span 2;
  height: 544px;
}
.item-5 {
  grid-row: span 2;
  height: 544px;
}
.item-6 {
  grid-row: span 1;
  height: 260px;
}

.portfolio__gallery-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-2__text {
  position: absolute;
  bottom: 28px;
  left: 29px;
}
.item-2__title {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 125%; /* 30/24 */
  margin-bottom: 15px;
}
.item-2__description {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 15px;
}

/* SECTION WHY CHOOSE UP */

.section-why-choose-us {
  background-color: #24263b;
  padding: 12rem 0;
}
.why-choose-us {
}

.why-choose-us__title {
  margin-bottom: 5.5rem;
  gap: 1.7rem;
}
.why-choose-us__carts {
  display: flex;
  gap: 3.1rem;
}
.why-choose-us__cart {
  background-color: #1f2235;
  padding: 4.1rem 3.9rem 4.1rem 2.5rem;
  border-radius: 0.4rem;
}
.why-choose-us__cart-icon {
  margin-bottom: 2.6rem;
}
.why-choose-us__cart-title {
  margin-bottom: 2.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 125%; /* 25/20 */
}
.why-choose-us__cart-description {
  margin-bottom: 3.7rem;
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  line-height: 150%; /* 24/16 */
}
.why-choose-us__cart-arrow {
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  justify-content: center;
  background-color: #24263b;
  border-radius: 50%;
}

.why-choose-us__cart-arrow:hover,
.why-choose-us__cart-arrow:focus {
  background-color: #fe461c;
}

/* SECTION RESUME */

.section-resume {
  background-color: #1f2235;
  padding-top: 12rem;
}
.resume {
  display: flex;
}
.resume__info {
  width: 60.6rem;
  margin-right: 7.6rem;
  margin-bottom: 13.5rem;
}
.resume__text {
  margin-bottom: 4.7rem;
}
.resume__text-label {
  display: inline-block;
  background-color: #24263b;
  padding: 1.2rem 1.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 75%; /* 12/16 */
  letter-spacing: 2px;
  box-shadow: 0 0 24px 0 rgba(15, 16, 24, 0.42);
  border-radius: 4px;
  margin-bottom: 1.6rem;
}
.resume__text-title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 97.222222%; /* 35/36 */
}
.resume__buttons {
  display: flex;
  height: 3.6rem;
  gap: 2rem;
  margin-bottom: 3.9rem;
}
.resume__button-active {
  display: block;
  width: 9rem;
  background-color: #fe461c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 75%; /* 12/16 */
  padding: 1rem 1.9rem;
  box-shadow: 0 0 24px 0 rgba(15, 16, 24, 0.42);
  border-radius: 4px;
}
.resume__button {
  display: block;
  background-color: #24263b;
  box-shadow: 0 0 24px 0 rgba(15, 16, 24, 0.42);
  border-radius: 4px;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 75%; /* 12/16 */
}
.resume__skills {
  display: flex;
  flex-direction: column;
  gap: 4.3rem;
}
.resume__skill {
}
.resume__skill-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.resume__skill-name {
  font-size: 2rem;
  font-weight: 600;
  line-height: 125%; /* 25/20 */
}
.resume__skill-level {
  font-size: 2rem;
  font-weight: 500;
  line-height: 125%; /* 25/20 */
}
.progress-box {
  flex-grow: 1;
  height: 1.8rem;
  background-color: #ffffff;
  border-radius: 300px;
  overflow: hidden;
}
.progress-1 {
  width: 90%;
  background-color: #fe461c;
  height: 100%;
  border-radius: 6px;
  transition: width 0.4s ease;
}
.progress-2 {
  width: 80%;
  background-color: #fe461c;
  height: 100%;
  border-radius: 6px;
  transition: width 0.4s ease;
}
.progress-3 {
  width: 70%;
  background-color: #fe461c;
  height: 100%;
  border-radius: 6px;
  transition: width 0.4s ease;
}
.progress-4 {
  width: 60%;
  background-color: #fe461c;
  height: 100%;
  border-radius: 6px;
  transition: width 0.4s ease;
}
.resume__img-box {
  max-width: 52.7rem;
  align-content: end;
  margin-bottom: 3.8rem;
  img {
    width: 100%;
  }
}

/* SECTION CLIENT TESTIMONIALS */
.section-client-testimonials {
  background-color: #24263b;
  padding-top: 11.8rem;
  padding-bottom: 12rem;
}
.testimonial {
}

.testimonial__title {
  gap: 2.4rem;
  margin-bottom: 4.9rem;
}
.testimonial__carts {
  display: flex;
  gap: 2.4rem;
}
.testimonial__cart {
  background-color: #1f2235;
  padding: 4.1rem 4.5rem 2.9rem 4.2rem;
}
.testimonial__cart-text {
  display: flex;
  justify-content: space-between;
  max-width: 29rem;
  border-bottom: 1px solid #e6e7e8;
  padding-bottom: 1.4rem;
}
.testimonial__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.testimonial__cart-name {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 91.666667%; /* 22/24 */
}
.testimonial__cart-label {
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  line-height: 150%; /* 24/16 */
}
.testimonial__cart-text-img {
}
.testimonial__cart-description {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 162.5%; /* 26/16 */
  margin-top: 1.5rem;
}
.testimonial__img {
  margin-top: -43px;
}
.testimonial__photo {
  display: block;
  width: 7rem;
  height: 7rem;
  border: 2px solid #fe461c;
  border-radius: 50%;
  background-color: #d9d9d9;
}

/* SECTION BLOG POST */

.section-blog-posts {
  background-color: #1f2235;
  padding: 12rem 0;
}
.blog {
}
.blog__title {
  gap: 2.2rem;
  margin-bottom: 6.1rem;
}
.blog__carts {
  display: flex;
  gap: 2.4rem;
}
.blog__cart {
}
.blog__cart-img {
  margin-bottom: 2.6rem;
  width: 100%;
}
.blog__statistics {
  display: flex;
  margin-bottom: 2.3rem;
  gap: 1.8rem;
  height: 1.7rem;
}
.blog__statistics-icon {
  display: flex;
  gap: 0.9rem;
  align-items: center;
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
}
.statistics-name {
  line-height: 100%; /* 16/16 */
  margin-top: 2px;
}
.statistics-message {
  line-height: 75%; /* 12/16 */
  margin-top: 2px;
}
.statistics-view {
  line-height: 93.75%; /* 15/16 */
  margin-top: 2px;
}
.blog__text {
}
.blog__text-title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 125%; /* 30/24 */
  margin-bottom: 1rem;
}
.blog__text-description {
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  line-height: 150%; /* 24/16 */
}


/* SECTION subscribe */


.section-subscribe-newsletter {
  background-color: #24263b;
  padding-top: 11.65rem;
  padding-bottom: 12rem;
}
.subscribe {
  background-color: #1f2235;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13rem 5rem 12.9rem 8rem;
}
.subscribe__text {
}
.subscribe__label {
  font-size: 2.4rem;
  font-family: "Public Sans",sans-serif;
  font-weight: 400;
  margin-bottom: 0.9rem;
}
.subscribe__title {
  font-size: 55px;
  font-weight: 700;
  line-height: 100%; /* 55/55 */
  margin-bottom: 1.2rem;
}
.subscribe__description {
  font-size: 1.8rem;
  font-family: "Public Sans",sans-serif;
  font-weight: 400;
}
.subscribe__input {
  display: flex;
  max-width: 55rem;
  width: 100%;
  height: 6rem;
}
.subscribe__form {
  width: 100%;
  position: relative;
}
.subscribe__input-field {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 80px;
  color: #9da1b4;
  font-size: 1.6rem;
  font-family: "Lato",sans-serif;
  font-weight: 500;
  justify-content: center;
  padding-left: 2rem;
}

.subscribe__button {
  position: absolute;
  right: 0rem;
  top: 0rem;
  max-width: 19rem;
  width: 100%;
  border-radius: 80px;
  background-color: #fe461c;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 93.75%; /* 15/16 */
  padding: 2.3rem 5.3rem 2.2rem 5.4rem ;
  cursor: pointer;
}
.footer {
  background-color: #24263b;
}
