.btn {
    width: auto;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 93.75%; /* 15/16 */
    background-color: #FE461C;
    border-radius: 4px;
    
}
.btn:hover,
.btn:focus {
    background-color: #D93D19;
}
.btn-header {
  padding: 17px 15px;  
  margin-left: 51px;
}

.btn-hero{
    padding: 18px 48px;
}

.btn-about{
    padding: 20px 27px;
    
}

.btn-resume{
    padding: 10px 19px;
}

.btn-submit {
    padding: 21px 50px;
}

.hero__btn-download{
    display: inline-block;
    font-weight: 700;
    line-height: 93.75%; /* 15/16 */
    padding: 17px 27px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 4px;
}

.hero__btn-download:hover,
.hero__btn-download:focus{
    background-color: #fff;
    color: #FE461C;
}